# NAME:AWEZ SHEIKH
# ROLL NO :32
# BATCH :A2
# Practical no :4

In [ ]:
import numpy as np
import pandas as pd
from scipy.io import loadmat
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
from sklearn.metrics import confusion_matrix , classification_report
import tensorflow as tf
from tensorflow import keras
warnings.filterwarnings('ignore')

In [ ]:
# Load the .mat file
data = loadmat("Matlab_cancer.mat")

# Extract features and labels
X = data['x']
y = data['t']
# Convert to DataFrame for easier manipulation
X = pd.DataFrame(X)
y = pd.DataFrame(y)

In [ ]:
X

,0,1,2,3,4,5,6,7,8,9,...,206,207,208,209,210,211,212,213,214,215
0,0.462901,0.370565,0.461550,0.375149,0.113849,0.233627,0.566678,0.627662,0.381812,0.455935,...,0.518304,0.679998,0.861971,0.891380,0.728070,0.712350,0.442507,0.582526,0.637684,0.528591
1,0.406736,0.306431,0.278980,0.287317,0.108411,0.117294,0.470354,0.523693,0.247376,0.386352,...,0.362863,0.612171,0.716505,0.804140,0.631755,0.577324,0.378966,0.449800,0.499722,0.453151
2,0.306215,0.239715,0.206608,0.241130,0.086275,0.059205,0.377392,0.429015,0.203156,0.284720,...,0.215489,0.502485,0.593316,0.648416,0.551587,0.458963,0.309647,0.344887,0.337616,0.419430
3,0.488105,0.476358,0.744342,0.426810,0.219954,0.284276,0.669022,0.727860,0.543950,0.509489,...,0.587237,0.695925,0.980418,0.931691,0.811608,0.824525,0.579831,0.648084,0.690683,0.608099
4,0.175169,0.175900,0.152133,0.205859,0.050794,0.047048,0.317999,0.318464,0.122031,0.158107,...,0.133816,0.360841,0.480872,0.468973,0.478606,0.327974,0.247915,0.249213,0.226858,0.348519
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0.102007,0.163589,0.108145,0.129792,0.108191,0.134398,0.182019,0.124871,0.097083,0.155205,...,0.104120,0.126577,0.230165,0.202313,0.147342,0.126562,0.133148,0.124520,0.144252,0.102442
96,1.669069,2.232187,2.142075,1.951741,3.917728,3.067101,0.692836,1.214623,1.396490,1.293816,...,1.839021,0.822627,0.194489,0.544723,0.923899,1.114880,1.785518,0.996573,1.059562,1.750116
97,0.080098,0.238168,0.233619,0.168771,0.246519,0.138255,0.049109,0.076610,0.271379,0.064827,...,0.178631,0.075754,0.019391,0.100852,0.145998,0.132422,0.185799,0.159791,0.134008,0.159765
98,0.144621,0.186373,0.175468,0.136800,0.079653,0.055678,0.314902,0.213265,0.158562,0.079212,...,0.097148,0.162369,0.448877,0.295088,0.220984,0.195418,0.161314,0.107018,0.138913,0.299038
99,0.106405,0.126373,0.099903,0.116469,0.012750,0.123548,0.136918,0.307412,0.078940,0.120925,...,0.084328,0.198927,0.302474,0.353438,0.113650,0.223841,0.178209,0.177907,0.177601,0.170123

In [ ]:
y

,0,1,2,3,4,5,6,7,8,9,...,206,207,208,209,210,211,212,213,214,215
0,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1

In [ ]:
print(X.shape,y.shape)

(100, 216) (2, 216)

In [ ]:
#Transpose DataFrame X
X_transposed = X.T
print("\nTransposed DataFrame X:")
print(X_transposed)

Transposed DataFrame X:
           0         1         2         3         4         5         6   \
0    0.462901  0.406736  0.306215  0.488105  0.175169  0.356551  0.439552
1    0.370565  0.306431  0.239715  0.476358  0.175900  0.353762  0.476071
2    0.461550  0.278980  0.206608  0.744342  0.152133  0.247645  0.304292
3    0.375149  0.287317  0.241130  0.426810  0.205859  0.208770  0.283752
4    0.113849  0.108411  0.086275  0.219954  0.050794  0.116163  0.188402
..        ...       ...       ...       ...       ...       ...       ...
211  0.712350  0.577324  0.458963  0.824525  0.327974  0.552057  0.708814
212  0.442507  0.378966  0.309647  0.579831  0.247915  0.423040  0.560928
213  0.582526  0.449800  0.344887  0.648084  0.249213  0.394702  0.497559
214  0.637684  0.499722  0.337616  0.690683  0.226858  0.410199  0.518084
215  0.528591  0.453151  0.419430  0.608099  0.348519  0.540139  0.716755

           7         8         9   ...        90        91        92  \
0    0.246779  1.373469  1.571959  ...  0.519682  0.403089  0.189221
1    0.258894  1.338965  1.677094  ...  0.614954  0.494679  0.181136
2    0.170356  1.047475  1.193578  ...  1.485315  1.251828  0.377694
3    0.152572  1.213785  1.510149  ...  0.819199  0.673698  0.214058
4    0.069726  0.705930  0.815952  ...  2.187471  1.729508  0.440756
..        ...       ...       ...  ...       ...       ...       ...
211  0.377711  1.781259  2.116528  ...  0.278662  0.240752  0.046546
212  0.290542  1.595510  2.011032  ...  0.488878  0.401487  0.156010
213  0.288319  1.442780  1.639578  ...  0.215805  0.149762  0.063660
214  0.274226  1.361744  1.646028  ...  0.342474  0.276337  0.076374
215  0.336874  1.973202  2.257914  ...  0.176471  0.119804  0.058726

           93        94        95        96        97        98        99
0    0.364127  0.261905  0.102007  1.669069  0.080098  0.144621  0.106405
1    0.446832  0.164218  0.163589  2.232187  0.238168  0.186373  0.126373
2    0.486562  0.088848  0.108145  2.142075  0.233619  0.175468  0.099903
3    0.701985  0.230137  0.129792  1.951741  0.168771  0.136800  0.116469
4    0.310229  0.139552  0.108191  3.917728  0.246519  0.079653  0.012750
..        ...       ...       ...       ...       ...       ...       ...
211  1.135407  0.058739  0.126562  1.114880  0.132422  0.195418  0.223841
212  1.024168  0.066879  0.133148  1.785518  0.185799  0.161314  0.178209
213  0.957963  0.097699  0.124520  0.996573  0.159791  0.107018  0.177907
214  0.873837  0.049355  0.144252  1.059562  0.134008  0.138913  0.177601
215  1.153113  0.067907  0.102442  1.750116  0.159765  0.299038  0.170123

[216 rows x 100 columns]

In [ ]:
# Transpose DataFrame y
y_transposed = y.T
print("\nTransposed DataFrame y:")
print(y_transposed)

Transposed DataFrame y:
     0  1
0    1  0
1    1  0
2    1  0
3    1  0
4    1  0
..  .. ..
211  0  1
212  0  1
213  0  1
214  0  1
215  0  1

[216 rows x 2 columns]

In [ ]:
print(X_transposed.shape,y_transposed.shape)

(216, 100) (216, 2)

In [ ]:
# Ensure indices match (usually true by default)
assert len(X_transposed) == len(y_transposed), "Length of X and y must match"

In [ ]:
dfy=pd.DataFrame(y_transposed)
dfy

     0  1
0    1  0
1    1  0
2    1  0
3    1  0
4    1  0
..  .. ..
211  0  1
212  0  1
213  0  1
214  0  1
215  0  1

[216 rows x 2 columns]

In [ ]:
# Define a mapping function to convert binary pair to label
def map_binary_to_label(row):
    if row[0] == 0 and row[1] == 1:
        return 'Normal'
    elif row[0] == 1 and row[1] == 0:
        return 'Cancer'
    else:
        return 'Unknown'  # In case there are any other combinations

# Apply the function to each row and create a new column
dfy['N/C'] = dfy.apply(map_binary_to_label, axis=1)

print("\nDataFrame with Target Labels:")
print(dfy[['N/C']])

DataFrame with Target Labels:
        N/C
0    Cancer
1    Cancer
2    Cancer
3    Cancer
4    Cancer
..      ...
211  Normal
212  Normal
213  Normal
214  Normal
215  Normal

[216 rows x 1 columns]